@font-face {
  font-family: "Starjedi";
  src: url("../fonts/starjedi-webfont.woff") format("woff"),
    url("../fonts/starjedi-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "NewsGothicStd";
  src: url("../fonts/NewsGothicStd.woff") format("woff"),
    url("../fonts/NewsGothicStd.woff2") format("woff2");
}
