@use "../abstracts/variables" as v;

body {
  font-family: v.$body-font-family;
}

h2 {
  font-family: v.$heading-font-family;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
