@use "../abstracts/variables" as v;

body {
  font-family: v.$body-font-family;
}

header h2 {
  font-family: v.$heading-font-family;
  font-size: 35px;
  color: rgb(254, 254, 60);
  padding-bottom: 40px;
}

h2 {
  font-family: v.$sub-heading-font-family;
  margin-top: 60px;
  font-weight: 600;
  color: rgb(185, 225, 236);
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(238, 238, 115);
  line-height: 50px;
}
